node_modules
dist

*.tar
*.gz
*.zip

*.jar
*.data
*.key
*.db
oss_cache/*
nvdcache/*
_archive/**/argocd/**/*
_archive/**/dind//**/*
_archive/**/display-proxy/**/*
_archive/**/tilt-avatars/**/*
Gerrit/All-Projects/**/*