server:
  shutdown: graceful
  port: 8081
spring:
  main:
    banner-mode: off
  mustache:
    check-template-location: false
  thymeleaf:
    check-template-location: false
plugins:
  jobExecutor:
    type: docker
    properties:
      connectionType: local
  versionControlSystem:
    gerrit_1:
      type: gerrit
      properties:
        url: https://gerrit.home.arpa
        username: admin
        password: secret
  projectProvider:
    gerrit_1:
      type: gerrit
      properties:
        url: https://gerrit.home.arpa
        username: admin
        password: secret
togglz:
  features:
    VALIDATE_PROJECT_PLUGIN_PROPERTIES:
      enabled: false
logging:
  level:
    "org.apache.http": DEBUG
    "org.springframework.web": DEBUG
    "org.springframework.web.client": DEBUG
    "org.springframework.web.client.RestTemplate": DEBUG
