[remote "assignee-changed"]
  event = assignee-changed
  url = http://wiremock:8080/gerrit/handle/assignee-changed
[remote "change-abandoned"]
  event = change-abandoned
  url = http://wiremock:8080/gerrit/handle/change-abandoned
[remote "change-deleted"]
  event = change-deleted
  url = http://wiremock:8080/gerrit/handle/change-deleted
[remote "change-merged"]
  event = change-merged
  url = http://wiremock:8080/gerrit/handle/change-merged
[remote "change-restored"]
  event = change-restored
  url = http://wiremock:8080/gerrit/handle/change-restored
[remote "comment-added"]
  event = comment-added
  url = http://wiremock:8080/gerrit/handle/comment-added
[remote "dropped-output"]
  event = dropped-output
  url = http://wiremock:8080/gerrit/handle/dropped-output
[remote "project-created"]
  event = project-created
  url = http://wiremock:8080/gerrit/handle/project-created
[remote "patchset-created"]
  event = patchset-created
  url = http://wiremock:8080/gerrit/handle/patchset-created
[remote "ref-updated"]
  event = ref-updated
  url = http://wiremock:8080/gerrit/handle/ref-updated
[remote "reviewer-added"]
  event = reviewer-added
  url = http://wiremock:8080/gerrit/handle/reviewer-added
[remote "reviewer-deleted"]
  event = reviewer-deleted
  url = http://wiremock:8080/gerrit/handle/reviewer-deleted
[remote "topic-changed"]
  event = topic-changed
  url = http://wiremock:8080/gerrit/handle/topic-changed
[remote "wip-state-changed"]
  event = wip-state-changed
  url = http://wiremock:8080/gerrit/handle/wip-state-changed
[remote "private-state-changed"]
  event = private-state-changed
  url = http://wiremock:8080/gerrit/handle/private-state-changed
[remote "vote-deleted"]
  event = vote-deleted
  url = http://wiremock:8080/gerrit/handle/vote-deleted
[remote "project-head-updated"]
  event = project-head-updated
  url = http://wiremock:8080/gerrit/handle/project-head-updated
