[remote "assignee-changed"]
  event = assignee-changed
  url = http://pipeline-mediator/handle-event
[remote "change-abandoned"]
  event = change-abandoned
  url = http://pipeline-mediator/handle-event
[remote "change-deleted"]
  event = change-deleted
  url = http://pipeline-mediator/handle-event
[remote "change-merged"]
  event = change-merged
  url = http://pipeline-mediator/handle-event
[remote "change-restored"]
  event = change-restored
  url = http://pipeline-mediator/handle-event
[remote "comment-added"]
  event = comment-added
  url = http://pipeline-mediator/handle-event
[remote "dropped-output"]
  event = dropped-output
  url = http://pipeline-mediator/handle-event
[remote "project-created"]
  event = project-created
  url = http://pipeline-mediator/handle-event
[remote "patchset-created"]
  event = patchset-created
  url = http://pipeline-mediator/handle-event
[remote "ref-updated"]
  event = ref-updated
  url = http://pipeline-mediator/handle-event
[remote "reviewer-added"]
  event = reviewer-added
  url = http://pipeline-mediator/handle-event
[remote "reviewer-deleted"]
  event = reviewer-deleted
  url = http://pipeline-mediator/handle-event
[remote "topic-changed"]
  event = topic-changed
  url = http://pipeline-mediator/handle-event
[remote "wip-state-changed"]
  event = wip-state-changed
  url = http://pipeline-mediator/handle-event
[remote "private-state-changed"]
  event = private-state-changed
  url = http://pipeline-mediator/handle-event
[remote "vote-deleted"]
  event = vote-deleted
  url = http://pipeline-mediator/handle-event
[remote "project-head-updated"]
  event = project-head-updated
  url = http://pipeline-mediator/handle-event
